<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>cars</title>
</head>
<body>
  <h1>These are the cars</h1>
  <ul>
  <% cars.forEach((car, i) => { %>
    <a href="/cars/<%= car.make %>"><li><%= car.make %></li></a>
  <% }) %>
  </ul>
</body>
</html>