<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>
    <h1>Add a New Car!</h1>
    <form action="/cars" method="POST">
        <div>
            Make: <input type="text" name="make">
        </div>
        <div>
            Model: <input type="text" name="model">
        </div>
        <div>
            Year: <input type="number" name="year">
        </div>
        <div>
            Color: <input type="text" name="color">
        </div>
        <input type="submit" value="SUBMIT THIS STUPID CAR">
    </form>
</body>
</html>
